:root{
  /*Adjusting the Position*/
  text-align: center;
  margin: 0 auto;

  /*Web page Style*/
  background-color: #f2f2f2;
}

div{
  /*Adjusting the Position*/
  margin: 0 auto;

  /*Text Style*/
  font-family: "Roboto", sans-serif;

}

h1{
  /*Text Style*/
  font-family: 'Robot',sans-serif;
  color: #333333;  
  
  text-align: center;
  margin: 0 auto;

}

form{
  text-align: center;
  
  /*Form Style*/
  border-radius: 16px;
  border: 2px solid black;
  background-color: #FFFFFF;
  margin: 0 auto;

  width: 343px;
  height: 173px;
  padding: 16px;
  padding: 16px;
  gap: 16px;
}

textarea{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #4f4f4f;

  border: white;
  outline: none;  

  width: 343px;
  height: 173px;
}


.button1 {
  /*Button Style */
  width: 343px;
  height: 45px;
  border-radius: 16px;
  background-color: #4f4f4f;
  border: none;
  box-sizing: content-box;

  /*Adjusting the position*/
  position: relative;
  top: -50px; 
  margin: 0 auto;
  right: 4px;
  
  /*Text Style*/
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  color: #FFFFFF;
}


.button2 {
  /*Button Style */
  width: 83px;
  height: 30px; 
  padding:  4px 16px;
  border-radius: 16px;
  border: none;
  background-color: #E0E0E0;
  color: rgb(59, 59, 59);

  /*Adjusting the position*/
  position: absolute;
  bottom: 10px;  
  right: 10px; 

  /*Text Style*/
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
}

.form2{
  /*Form-2 Style */
  border-radius: 16px;
  border: 2px solid black;
  background-color: #FFFFFF;
  margin: 8 auto;
  
  width: 343px;
  height: 173px;
  padding: 16px;
  gap: 16px;
  margin: 8px auto; 
  text-align: center; 
  position: relative;
}